@font-face {
  font-family: "iconfont"; /* Project id 3250444 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1647401621494') format('woff2'),
       url('iconfont.woff?t=1647401621494') format('woff'),
       url('iconfont.ttf?t=1647401621494') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e628";
}

.icon-wx:before {
  content: "\fae4";
}

.icon-dd:before {
  content: "\fb0d";
}

